h1{
    color: white;
    text-align: center;
    font-size: xx-large;
}
.abt{
    text-align: center;
    font-family: Trirong;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: xx-large;
}
#t1{
    background-image: -moz-linear-gradient(90deg, indigo, brown);
    border-radius: 20px;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;

}
#btn{
    background-color: red;
    color: white;
    border-color: transparent;
    border-radius: 25px;
    font-size: xx-large;
}
#btn:hover{
    background-color: darkturquoise;
    cursor: pointer;
}